services:
  web:
    build: .
    container_name: bday_app
    command: python manage.py runserver 0.0.0.0:8002
    volumes:
      - .:/app
    ports:
      - "8002:8002"
    env_file:
      - .env
    environment:
      - DATABASE=postgres
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - VIRTUAL_HOST=bday.localhost
      - VIRTUAL_PORT=8002
    networks:
      - proxy_net
    restart: always

  scheduler:
    build: .
    container_name: bday_scheduler
    command: /app/scheduler.sh
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DATABASE=postgres
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    networks:
      - proxy_net
    restart: always
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:

networks:
  proxy_net:
    external: true